%div.img_holder
%div{ id: 'main', role: 'main'}
  .hero-unit
    .container
      %h1= t('application.title')
      %h2= t('application.subtitle')
      %ul.ul-description
        %li
          %h3= t('views.home.index.teaser1.title')
          %p= t('views.home.index.teaser1.description')
        %li
          %h3= t('views.home.index.teaser2.title')
          %p= t('views.home.index.teaser2.description')
        %li
          %h3= t('views.home.index.teaser3.title')
          %p= t('views.home.index.teaser3.description')

